## Preprocessing

In [85]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [86]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME','USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS', 'AFFILIATION'])
application_df.head()

  APPLICATION_TYPE CLASSIFICATION  ASK_AMT  IS_SUCCESSFUL
0              T10          C1000     5000              1
1               T3          C2000   108590              1
2               T5          C3000     5000              0
3               T3          C2000     6692              1
4               T3          C1000   142590              1

In [87]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
CLASSIFICATION        71
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [88]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [89]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
threshold = 400
application_types_to_replace = app_counts[app_counts < threshold].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [90]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df['CLASSIFICATION'].value_counts()
print(class_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [91]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = application_df['CLASSIFICATION'].value_counts()
filtered_counts = class_counts[class_counts > 1]
print(filtered_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [92]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
threshold = 1000
classifications_to_replace = class_counts[class_counts < threshold].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [97]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_cols = ['CLASSIFICATION', 'APPLICATION_TYPE']

converted_df = pd.get_dummies(application_df, columns=categorical_cols, drop_first=True)

boolean_columns = [
    'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
    'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
    'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'CLASSIFICATION_C1200',
    'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
    'CLASSIFICATION_Other']

converted_df[boolean_columns] = converted_df[boolean_columns].astype(int)

#print(converted_df.head())
print(converted_df.dtypes)

ASK_AMT                 int64
IS_SUCCESSFUL           int64
CLASSIFICATION_C1200    int64
CLASSIFICATION_C2000    int64
CLASSIFICATION_C2100    int64
CLASSIFICATION_C3000    int64
CLASSIFICATION_Other    int64
APPLICATION_TYPE_T10    int64
APPLICATION_TYPE_T19    int64
APPLICATION_TYPE_T3     int64
APPLICATION_TYPE_T4     int64
APPLICATION_TYPE_T5     int64
APPLICATION_TYPE_T6     int64
APPLICATION_TYPE_T7     int64
APPLICATION_TYPE_T8     int64
dtype: object

In [98]:
# Split our preprocessed data into our features and target arrays
X = converted_df.drop(columns=['IS_SUCCESSFUL'])
y = converted_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training features shape: {X_train.shape}")
print(f"Testing features shape: {X_test.shape}")
print(f"Training target shape: {y_train.shape}")
print(f"Testing target shape: {y_test.shape}")

Training features shape: (27439, 14)
Testing features shape: (6860, 14)
Training target shape: (27439,)
Testing target shape: (6860,)

In [99]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [100]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=128, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(Dense(units=64, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                     │ (None, 128)                 │           1,920 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_13 (Dense)                     │ (None, 64)                  │           8,256 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_14 (Dense)                     │ (None, 1)                   │              65 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 10,241 (40.00 KB)

 Trainable params: 10,241 (40.00 KB)

 Non-trainable params: 0 (0.00 B)

In [101]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [102]:
# Train the model
from tensorflow.keras.callbacks import EarlyStopping

early_stopping = EarlyStopping(monitor='val_loss', patience=5)

history = nn.fit(X_train, y_train,
                 epochs=100,
                 batch_size=32,
                 validation_data=(X_test, y_test),
                 verbose=2,
                 callbacks=[early_stopping])

Epoch 1/100
858/858 - 2s - 3ms/step - accuracy: 0.4899 - loss: 27921.0879 - val_accuracy: 0.4659 - val_loss: 2648.2939
Epoch 2/100
858/858 - 2s - 3ms/step - accuracy: 0.4856 - loss: 29351.5137 - val_accuracy: 0.5341 - val_loss: 1850.7230
Epoch 3/100
858/858 - 3s - 3ms/step - accuracy: 0.5064 - loss: 42819.8633 - val_accuracy: 0.4659 - val_loss: 11999.5176
Epoch 4/100
858/858 - 1s - 2ms/step - accuracy: 0.4968 - loss: 10159.1758 - val_accuracy: 0.5341 - val_loss: 2068.7375
Epoch 5/100
858/858 - 3s - 3ms/step - accuracy: 0.4997 - loss: 34666.3906 - val_accuracy: 0.5341 - val_loss: 43660.0078
Epoch 6/100
858/858 - 1s - 2ms/step - accuracy: 0.4976 - loss: 16944.4023 - val_accuracy: 0.5341 - val_loss: 13638.8896
Epoch 7/100
858/858 - 3s - 3ms/step - accuracy: 0.5043 - loss: 23861.4355 - val_accuracy: 0.5341 - val_loss: 1504.3424
Epoch 8/100
858/858 - 1s - 2ms/step - accuracy: 0.4976 - loss: 6211.1997 - val_accuracy: 0.5341 - val_loss: 169.4475
Epoch 9/100
858/858 - 1s - 2ms/step - accuracy: 0.4994 - loss: 13127.8066 - val_accuracy: 0.4659 - val_loss: 17340.0742
Epoch 10/100
858/858 - 1s - 2ms/step - accuracy: 0.4890 - loss: 4271.9355 - val_accuracy: 0.5124 - val_loss: 242.6589
Epoch 11/100
858/858 - 1s - 2ms/step - accuracy: 0.5072 - loss: 978.6752 - val_accuracy: 0.5042 - val_loss: 588.3439
Epoch 12/100
858/858 - 2s - 3ms/step - accuracy: 0.5099 - loss: 686.2825 - val_accuracy: 0.5241 - val_loss: 19.8228
Epoch 13/100
858/858 - 3s - 3ms/step - accuracy: 0.5140 - loss: 191.3902 - val_accuracy: 0.5341 - val_loss: 0.7313
Epoch 14/100
858/858 - 1s - 2ms/step - accuracy: 0.5320 - loss: 0.6972 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 15/100
858/858 - 1s - 2ms/step - accuracy: 0.5320 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 16/100
858/858 - 3s - 3ms/step - accuracy: 0.5320 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6908
Epoch 17/100
858/858 - 3s - 3ms/step - accuracy: 0.5320 - loss: 0.6911 - val_accuracy: 0.5341 - val_loss: 0.6910
Epoch 18/100
858/858 - 2s - 2ms/step - accuracy: 0.5320 - loss: 0.6912 - val_accuracy: 0.5341 - val_loss: 0.6909
Epoch 19/100
858/858 - 3s - 3ms/step - accuracy: 0.5320 - loss: 0.6911 - val_accuracy: 0.5341 - val_loss: 0.6908

In [103]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.5341 - loss: 0.9684
Loss: 0.9683528542518616, Accuracy: 0.5341107845306396

In [105]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

from google.colab import drive
drive.mount('/content/drive')

model_path = '/content/drive/MyDrive/AlphabetSoupCharity_Optimization.h5'
nn.save(model_path)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.
WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).